################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SuperBot_1.0/obj/Debug
/SuperBot_1.0/bin/Debug/file
/SuperBot_1.0/bin/Debug/client_secret.json
